*{
    margin: 0;
    padding: 0;
}
html{
    background-color: hsl(216, 12%, 8%);
}
.calculadora{
    background: linear-gradient(120deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgba(255,255,255, 0.3);
    box-shadow: 30px 30px 5px rgba(7,7,7,0.4);
}
.display{
    height: 85px;
    text-align: right;
    font-size: 50px;
    word-wrap: break-word;
    border-top: 2px solid rgba(255,255,255, 0.3);
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    border-radius: 15px;
    margin-bottom: 10px;
    padding-right: 5px;
}
.btn{
    height: auto;
    width: 70px;
    margin: 2px;
}

.btnClean{
    height: auto;
    width: 143px;
}
.btnResp{
    height: auto;
    width: 143px;
}